<div *ngIf="modalService.modal" class="open-modal animacion fadeIn"> 
<div  ç  style="display: block;" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{modeOpen}}  {{person?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" m>

            <form #formPerson="ngForm" >
              {{formPerson.form.valid}}
             <div class="form-group ">
                <label  class="col-form-label col-sm-2" >Name <span style="color:red ;">*</span></label>
                <div  class="col-sm-12">
                  <input type="text" class="form-control required " id="name"  required #name="ngModel"  
                   [readonly]="modeOpen =='CONSULT' || modeOpen =='DELETE'" [(ngModel)]="person.name"  [ngModelOptions]="{standalone: true}" placeholder="Name" > 
                   <div class="alert alert-danger"  *ngIf="(name.invalid && name.touched)">The field name is mandatory</div>    
                </div>
            </div>

            <div class="form-group ">
                <label  class="col-form-label col-sm-2 required" >Surname <span style="color:red ;">*</span></label>
                <div  class="col-sm-12">
                     <input type="text" class="form-control"  required #surname="ngModel"    [readonly]="modeOpen =='CONSULT' || modeOpen =='DELETE'" id="surname" [(ngModel)]="person.surname" [ngModelOptions]="{standalone: true}"  placeholder="Surname">  
                     <div class="alert alert-danger"  *ngIf="surname.invalid && surname.touched ">The field surname is mandatory</div>  
                </div>
            </div>

             <div class="form-group ">
                <label  class="col-form-label col-sm-2 required" >Email<span style="color:red ;">*</span></label>
                <div  class="col-sm-12">
                    <input type="email" class="form-control"  required #email="ngModel"    [readonly]="modeOpen =='CONSULT' || modeOpen =='DELETE' "  id="email" [(ngModel)]="person.email" [ngModelOptions]="{standalone: true}"  placeholder="name@example.com">  
                    <div class="alert alert-danger"  *ngIf="email.invalid &&  email.touched ">The field email is mandatory</div>  
                  </div>
            </div>
            <div class="form-group ">

                <label  class="col-form-label col-sm-2" >Birthday<span style="color:red ;">*</span></label>
               
                <div  class="col-sm-12">
                     <mat-form-field appearance="fill">
                    <mat-label>birthday</mat-label>
                    <input matInput [matDatepicker]="picker" required #birthday="ngModel" [readonly]="modeOpen =='CONSULT' || modeOpen =='DELETE'"  [(ngModel)]="person.birthday"  [ngModelOptions]="{standalone: true}" style="display: inline; width: 300px; padding-left: 5px;">
                   
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                  </mat-form-field>
                  <div class="alert alert-danger"  *ngIf="birthday.invalid &&  birthday.touched ">The field email is mandatory</div>  
                </div>
              </div>

            <div class="form-group ">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary"  (click)="closeModal()"  >Close</button> 
                    <button type="submit" class="btn btn-primary" value="Submit" data-toggle="modal"  *ngIf="modeOpen =='CREATE'" [disabled]="name.invalid || surname.invalid || email.invalid"  (click)="createPerson(person)" >Create</button>
                    <button type="submit" class="btn btn-success" value="Submit" *ngIf="modeOpen =='UPDATE'"  (click)="updatePerson(person)"  [disabled]="name.invalid || surname.invalid || email.invalid"  >Save changes"</button>
                    <button type="submit" class="btn btn-danger"  value="Submit" *ngIf="modeOpen =='DELETE'" (click)="deletePerson(person)"  [disabled]="name.invalid || surname.invalid || email.invalid"  >Delete</button>

                
                 </div>
                
            </div>

            </form>


            

        </div>
        
      </div>
    </div>
  </div>
  </div>